<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">

</head>

<!-- onload="checkoutTest()" -->

<body>
   <main>

      <ul class="cart__item-list">
         <% products.forEach(p => {  %>

         <li class="cart__item">
            <h1> <%- p.productId.title %> </h1>
            <h1>Quantity: <%- p.quantity %> </h1>
         </li>
         <%  }) %>
      </ul>

      <div class="centered">
         <h2>Total: <%= totalSum %></h2>
      </div>

      <div class="centered">

         <form action="/create-order" method="POST">
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
               data-key="pk_test_51GrnJXJqXwBFE1XE31YjVKyEuX1ZDwzrffgdk0SKmp7Wqb6AePaIQOcO3M82gt1LBKjDXSICG2RMISC5hVi2iySx00brrF5WDK"
               data-amount="<%= totalSum * 100%>" data-name="Your Order" data-description="All the Items you Ordered"
               data-image="https://stripe.com/img/documentation/checkout/marketplace.png" data-locale="auto"
               data-currency="inr">
               </script>
         </form>



         <!--  another method -->
         <!-- <form id="payment-form" >
            <div style="width: 50%; background-color: rgb(255, 255, 255); position: relative; left: 25%;" >
               <div id="card-element">
                </div>
            </div>
            <div id="card-errors" role="alert"></div>
            <button id="submit">Pay</button>
          </form> -->

      </div>

   </main>
   <%- include('../includes/end.ejs') %>
   <script src="https://js.stripe.com/v3/"></script>
   <script src="/js/admin.js"></script>

   <!-- Publishable key
pk_test_51GrnJXJqXwBFE1XE31YjVKyEuX1ZDwzrffgdk0SKmp7Wqb6AePaIQOcO3M82gt1LBKjDXSICG2RMISC5hVi2iySx00brrF5WDK
Secret key
sk_test_51GrnJXJqXwBFE1XEtJfHFmtQLhv0oUsS2GDcaUcQ63r3hpkcBf2lWrSMUtfccPPYj6f4Aqsg5eLpIWET9ntMBKMQ000KZYuWoK -->